<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cp-tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF67C6041D9DB06000A1B509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF67C6181D9DB06100A1B509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF67C6231D9DB06100A1B509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
